/* import files
-------------------------------------------------- */
@import url(index1.css);


/* HEAD PART OF THE PAGE
-------------------------------------------------- */
.top-bar {
	background-color: rgba( 255,255,255, 0.8);
	margin-bottom: -77px;
	padding-bottom: 5px;
}

.jumbotron {
	background-image: url("../images/home/home-01.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	/*background-position:center;*/

	text-align: center;
	color: white;

	padding-top: 140px;
}
 
.homepage hr{
	border-top: 1px solid #f1c40f;
	width: 200px;
	margin-top: 10px;
}
.homepage h1 {
	font-weight: bold;
}

/* BUSK INTRODUCTION VIDEO
-------------------------------------------------- */
video#bgvid {
	position: relative; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(videos/busk.jpg) no-repeat;
	background-size: cover;
}

/*VIDEO CONTROL*/
video#bgvid { transition: 1s opacity; }
.stopfade { opacity: .5; }

/*VIDEO WRAPPER*/
/*.vdo-wrapper {	
	width: 100%;
	overflow: hidden;
	display: block;
	height: 740px;
}
#bgvid{
    margin-left: 0px;
	margin-top: -10%;
}*/

/*VIDEO DESCRIPTION PLANE*/
.vdo-desc {
	background: rgba(0,0,0,.3);
	color: #fff;
	padding: 2rem;
	width: 33%;
	margin: 50px;
	float: right;
	position: absolute;
	/*font-size: 2.2rem;*/
}