/** import CSS files **/
@import url(thsarabunnew.css);

/* Navigation part ================ */
body {
  font-family: 'THSarabunNew', Sans-Serif;
  font-size: 2.2em;
  padding-bottom: 0;
}

.top-bar {
  padding-top: 10px;
  background-color: #fff;
  opacity: 1;
  border: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  border-bottom: 2px solid;
  color: #f1c40f;
}

.navbar-default .navbar-nav>li>a {
  color: #2c3e50;
}
/* End of Navigation part ================ */

.homepage hr{
  border-top: 1px solid #f1c40f;
  width: 150px;
  margin-top: 15px;
}

/* THUMBNAIL NEWS
-------------------------------------------------- */
.thumb-news {
  width: 350px;
  height: 194px;
}

/* BOTTOM LINK */
#bottom-link {
  background-color: #ecf0f1;
}

#bottom-link hr{
  border-top: 1px solid #95a5a6;
}

#bottom-link .container{
  background-color: #ecf0f1;
  padding-bottom: 20px;
}


/* FACEBOOK SOCIAL PLUGIN
-------------------------------------------------- */
.container .fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe {
  width: 100% !important;
  /*height: 200px !important;*/
}


/* RESPONSIVE CSS
-------------------------------------------------- */